<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="/static/admin/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/static/admin/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="bg-light text-center rounded p-4">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Recent travels</h6>
      </div>
      <div class="table-responsive">
        <table
          class="table text-start align-middle table-bordered table-hover mb-0"
        >
          <thead>
            <tr class="text-dark">
              <th scope="col">travel ID</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>

              <th scope="col">Status</th>

              <th scope="col">Receipt</th>
            </tr>
          </thead>
          <tbody>
            {% for travel in travels%}

            <tr>
              <td>{{travel.id}}</td>
              <td>{{travel.created}}</td>
              <td>${{travel.amount}}</td>

              {% if travel.status == 'confirm' %}
              <td style="color: green">
                {{travel.status}} <i class="fa fa-check"></i>
              </td>
              {% else %}
              <td>
                {{travel.status}}

                <div
                  class="spinner-border text-primary"
                  style="width: 1rem; height: 1rem"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              {% endif %}

              <td>
                <a href="/static/uploads/{{travel.image }}" download>
                  <img
                    height="100px"
                    src="/static/uploads/{{travel.image }}"
                    alt=""
                  />
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
